/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    font-family: Outfit, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center
 }  
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.container{
    width: 15%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5%;
}
.QR{
    border-radius: 7px;
}
.boldPart{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    text-align: center;
}
.palePart{
 font-weight:400;
 font-size: 12px;
 color: hsl(216, 15%, 48%);
 text-align: center;
 margin: clamp(5px,12,20px);
}